@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BigPoppaERegular';
    src: url('../fonts/BigPoppaE-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSlabBold';
    src: url('../fonts/JosefinSlabBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JosefinSlab-SemiBold';
    src: url('../fonts/JosefinSlab-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

.logo {
	float: left;
	width: 20%;
	margin: 0
}
.logo-link {
	float: left;
	margin: 0;
	font-size: 16px;
	width: 112px;
	height: 56px;
	text-indent: -9999px;
	background: url('../img/logo.svg') no-repeat left top
}
.main-nav {
	text-align: center;
	float: left;
	width: 60%;
	padding: 0;
	margin: 0;
	color: white;
	font-size: 20px;
	line-height: 36px;
	font-family: "JosefinSlabBold",　"ff-din-web", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px
}
.main-nav a {
	display: inline-block;
	padding: 0 1%
}
.main-nav .active, .main-nav-cta .active {
	top: 0;
	color: #9c9ba2
}
.main-nav-cta {
	text-align: right;
	float: left;
	width: 20%;
	font-size: 22px;
	line-height: 34px;
	font-family: "JosefinSlabBold",　"ff-din-web", Helvetica, Arial, sans-serif;	
}
.main-nav-cta a {
	color: #f0e99a
}
.nav-links a:hover, .nav-links a.hover {
	color: #a95da4;
	-webkit-transition: top .04s ease-out
}
.nav-links a:active {
	color: #83467f;
	position: relative;
	font-weight: normal;
	top: 1px
}
#site-header {
	position: fixed;
	width: 90%;
	height: 80px;
	top: 0;
	z-index: 999;
	background: none, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, rgba(20,17,23,0.9)), color-stop(100%, rgba(20,17,23,0)));
	background: none, -webkit-linear-gradient(top, rgba(20,17,23,0.9) 10%, rgba(20,17,23,0) 100%);
	background: none, -moz-linear-gradient(top, rgba(20,17,23,0.9) 10%, rgba(20,17,23,0) 100%);
	background: none, -o-linear-gradient(top, rgba(20,17,23,0.9) 10%, rgba(20,17,23,0) 100%);
	background: none, linear-gradient(top, rgba(20,17,23,0.9) 10%,rgba(20,17,23,0) 100%);
	padding: 5.5% 5.5%;
	-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;   -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;   transition: background .5s ease-in-out,padding .5s ease-in-out;
}
#site-header.onscroll {
	height: 40px;
	background: #141117;
	padding-top: 20px;
	padding-bottom: 17px;
	z-index: 1100
}
#site-header.onscroll nav ul li a {
	line-height: 1.3em;
	float: left;
	padding: 22px 0 20px 0
}
#site-header.onscroll .logo img {
	padding-top: 2px;
	background: #5a77b9
}


.home-intro {
	background-image: url("../img/bg6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	background-position: top right
}
.home-overlay {
	background: rgba(0,0,0,0.15);}

.home-top {
	margin-top: 8.5%;}

.container {
	padding: 4.5% 5%;}	

.outline-button, a.outline-button {
	color: #f0e99a;
	font-size: 24pt;
	font-family: 'calibri', SANS-SERIF;
	font-weight: bold;
	margin-top: 40px;
	background: none;
	border: 3px solid #f0e99a;
	-webkit-transition: border-color 05ms ease-out;
	-moz-transition: border-color 05ms ease-out;
	transition: border-color 05ms ease-out
;
}
.outline-button:hover, a.outline-button:hover {
	color: white;
	background-color: rgba(255,255,255,0);
	border: 2px solid white
}
.outline-button:active, a.outline-button:active {
	color: #e9df6e;
	background-color: rgba(255,255,255,0);
	border: 2px solid #e9df6e;
	-webkit-transition: border-color 05ms ease-out;
	-moz-transition: border-color 05ms ease-out;
	transition: border-color 05ms ease-out
}

.home-overlay {
	background: rgba(0,0,0,0.15);}
.icon-fat-right-arrow {
	display: inline-block;
	padding-top: 13px;
	vertical-align: top
}

.home-about, .home-services, .home-team, .home-contact, .home-projects {
	background-color: white;
	color: #141117
}
.home-about p, .home-services p, .home-team p, .home-contact p, .home-projects p {
	color: #141117
	font-family: "JosefinSlab-SemiBold";
	font-size: 24px;
}
.home-about p.centered  {
	font-size: 40px;
}
.bold-uppercase-header {
	font-family: "ChunkFiveRegular", Helvetica, Arial, sans-serif;
	letter-spacing: 4px;
	font-weight: bold;
	font-size: 60px;
	padding-top: 0.1em
	color: #FFF;
	color: #fff;
}
.sub-header-serif {
	font-family: "adelle", Georgia, serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 31px;
	letter-spacing: 0;
	padding: 1.1em 0 0.6em 0;
	display: block
}
.tagline {
	font-family: 'JosefinSlabBold',"adelle", Georgia, serif;
	font-weight: normal;
	font-size: 45px;
	line-height: 66px
;
	color: #fff;
}