
body {
	font-family: 'JosefinSlab-SemiBold';
	font-size: 26pt!important;
}

.sub-services h3 {
  font-size: 72px;
  margin: 50px auto;
  font-family: "ChunkFiveRegular";
}

.main-services h3 {
	font-family: 'ChunkFiveRegular';
	font-size: 70px;
	line-height: 70px;
}

.red {
	color: #EB3552;
}
