@font-face {
	font-family: "fontcustom";
	src: url("fontcustom_96f23f713a7ac02c27cb433dad03af93-69e378ae.eot");
	src: url("fontcustom_96f23f713a7ac02c27cb433dad03af93-69e378ae.eot?#iefix") format("embedded-opentype"), url("fontcustom_96f23f713a7ac02c27cb433dad03af93-970cf657.woff") format("woff"), url("fontcustom_96f23f713a7ac02c27cb433dad03af93-5d863d9f.ttf") format("truetype"), url("fontcustom_96f23f713a7ac02c27cb433dad03af93-765b83a8.svg#fontcustom") format("svg");
	font-weight: normal;
	font-style: normal
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "fontcustom";
		src: url("fontcustom_96f23f713a7ac02c27cb433dad03af93-765b83a8.svg#fontcustom") format("svg")
	}
}
[data-icon]:before {
	content: attr(data-icon)
}
[data-icon]:before, .icon-branding:before, .icon-email:before, .icon-facebook:before, .icon-fat-left-arrow:before, .icon-fat-right-arrow:before, .icon-flickr:before, .icon-instagram:before, .icon-iosapp:before, .icon-left-arrow:before, .icon-other:before, .icon-phone:before, .icon-right-arrow:before, .icon-twitter:before, .icon-webapp:before, .icon-website:before {
	display: inline-block;
	font-family: "fontcustom";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased
}
.icon-branding:before {
	content: "\f100"
}
.icon-email:before {
	content: "\f101"
}
.icon-facebook:before {
	content: "\f102"
}
.icon-fat-left-arrow:before {
	content: "\f10d"
}
.icon-fat-right-arrow:before {
	content: "\f10c"
}
.icon-flickr:before {
	content: "\f103"
}
.icon-instagram:before {
	content: "\f10b"
}
.icon-iosapp:before {
	content: "\f104"
}
.icon-left-arrow:before {
	content: "\f10e"
}
.icon-other:before {
	content: "\f105"
}
.icon-phone:before {
	content: "\f106"
}
.icon-right-arrow:before {
	content: "\f107"
}
.icon-twitter:before {
	content: "\f108"
}
.icon-webapp:before {
	content: "\f109"
}
.icon-website:before {
	content: "\f10a"
}